* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  cursor: default;
}

body {
  background-color: blueviolet;
}
.new-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
input,
button,
textarea {
  margin: 10px;
  max-width: 50vh;
  border: 15px solid;
  border-radius: 10px;
  padding: 10px;
}
